body {
    align-items: center;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#root {
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    background-color: rgb(185, 185, 185);
}

header nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 10px;
}

.navButton {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}

h1 {
    color: #333;
}

.loginContainer {
    align-items: center;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}

.appTitle {
    text-align: center;
    font-size: 64px;
    font-style: italic;
}

.accTypeToggle {
    display: flex;
}

.accTypeToggle button {
    width: 250px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 30px;
    margin: 10px 40px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

.accTypeToggle p {
    font-size: 24px;
}

.inputBox {
    width: 500px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    align-items: center;
    justify-content: center;
}

.formFields {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px;
}

.formFields input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.formFields label {
    width: 100%;
    margin-top: 10px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.formFields button {
    margin: 20px 0;
    width: 30%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #B9B9B9;
}

.login-toggle {
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

.button-wrapper button {
    width: 150px;
    cursor: pointer;
}

.map {
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

/* ------ Home Page ------ */

.all-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    margin-left: 25%;
    margin-right: 25%;

}

.post {
    background-color: #c0dfe4;
    padding: 15px;
    border-radius: 5px;
}

.post-name {
    font-size: 25px;
    background-color: #90a7ab;
    margin: 10px;
    margin-left: 50px;
    margin-right: 100px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 15px;
}

.post-text {
    background-color: #c3c8a8;
    margin: 10px;
    padding: 15px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 15px;
}

.post-img {
    width: 410px;
    height: 410px;
    object-fit: cover;
    margin-left: 10%;
    margin-right: 10%;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;

}

.all-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.comment {
    background-color: #dfe4c0;
    padding: 15px;
    margin-left: 150px;
    margin-right: 100px;
    border-radius: 15px;

}

.comment-name {}

.comment-text {}


.home-bar {
    font-size: larger;
    background-color: #8b8e78;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
}

.home-welcome {
    font-style: bold;
}

.home-no-login {
    font-style: italic;
}

/* ------ Profile Page ------ */

.bold-text {
    font-weight: bold;
}

.normal-text {
    font-weight: normal;
}

.profile-title{
    text-align: center;
}

.profile-box {
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px auto; 
    width: 80%; 
    max-width: 600px; 
    background-color: rgb(185, 185, 185); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.profile-box p {
    font-size: 24px; 
    line-height: 1.5;
    margin: 8px 0; 
    font-weight: bold; 
}

.profile-box strong {
    color: #251717; 
    font-style: bold;
}

.centered-title {
    text-align: center; 
    margin-bottom: 20px; 
}
